---
import Card from "./Card/index.astro";
import { LINKS } from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2 lg:row-span-4">
  <div class="h-full overflow-auto">
    <header class="flex items-center">
      <h1 class="text-white text-lg md:text-xl font-bold">
        Let's start working together!
      </h1>
    </header>
    <address class="flex flex-col mt-2 md:mt-4 text-sm md:text-base">
      <h2 class="text-gray-500">Contact Details</h2>
      <p class="break-all">baotran.swe@gmail.com</p>
      <p>571-665-1609</p>
      <p>Fairfax, Virginia, US</p>
    </address>
    <div class="flex flex-col mt-2 md:mt-4 w-fit">
      <h2 class="text-gray-500">Socials</h2>
      <ul class="text-sm md:text-base">
        <li>
          <a href={LINKS.linkedin} target="_blank">LinkedIn</a>
        </li>
        <li>
          <a href={LINKS.github} target="_blank">GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</Card>
